#channel-button-template {
    display: none;
}

#channel-message-template {
    display: none;
}

#channel-page-button-template {
    display: none;
}

#invite-user-checkbox-template {
    display: none;
}

.channel-message {
    margin-bottom: 30px;
}

.message-outer-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-inner-flex-container {
    display: flex;
    align-items: center;
    width: 60vw;
}

#top-options-flex {
    display: flex;
    justify-content: space-between;
}

#channel-messages-container {
    height: 50vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    
}

.reacted {
    color: white;
    background-color: #485fc7;
}

.message-content {
    inline-size: 65vw;
    word-wrap: break-word;
}