
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#channel-button-template {
    display: none;
}

#channel-message-template {
    display: none;
}

#channel-page-button-template {
    display: none;
}

#invite-user-button-template {
    display: none;
}

#channel-details {
    display: none;
}

#flex-container {
    display: flex;
}

#navbar {
    flex: 1;
}

#main-content {
    background-color: #7c8c9c;
    flex: 3;
}

.channel-message {
    margin-bottom: 30px;
}
img {
    width: 50px;
    height: 50px;
}

.message-outer-flex-container {
    display: flex;
    justify-content: space-between;
}

.message-inner-flex-container {
    display: flex;
}

#top-options-flex {
    display: flex;
    justify-content: space-between;
}

#channel-messages-container {
    height: 300px;
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;
    
}

.reacted {
    background-color: gold;
}
