#channel-button-template {
    display: none;
}

#channel-message-template {
    display: none;
}

#channel-page-button-template {
    display: none;
}

#invite-user-button-template {
    display: none;
}

.channel-message {
    margin-bottom: 30px;
}
img {
    width: 50px;
    height: 50px;
}

.message-outer-flex-container {
    display: flex;
    justify-content: space-between;
}

.message-inner-flex-container {
    display: flex;
}

#top-options-flex {
    display: flex;
    justify-content: space-between;
}

#channel-messages-container {
    height: 300px;
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;
    
}

.reacted {
    background-color: gold;
}
